<app-nav-bar-inicio-sesion></app-nav-bar-inicio-sesion>

<div class="container ctn" *ngIf="!idParam">
    <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select class="custom-select" (change)="selectChangeHandler($event)">
                <option>Seleccione producto...</option>
                <option *ngFor="let producto of productos"  [value]="producto.id">{{producto.nombre_producto}}</option>
            </select>   
          </div>
        </div>
    </form>
</div>

<div class="container" *ngIf="!idParam">
    <table class="table separacion personas">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let producto of productos" >
            <th scope="row">{{producto.id}}</th>
            <td >{{producto.nombre_producto}}</td>
            <td >{{producto.descripcion}}</td>
            <td >${{producto.precio}}</td>
            <td> {{producto.user_id}}</td>
            <td><button class="btn btn-success btn" (click)="onSelectComentarios(producto)"> Comentarios </button> </td>
            
        </tr>
        </tbody>
    </table>
</div>

<div class="container ctn" *ngIf="idParam || selectedId">
    <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select class="custom-select" (change)="selectChangeHandler($event)">
                <option>Seleccione producto...</option>
                <option *ngFor="let producto of productos"  [value]="producto.id">{{producto.nombre_producto}}</option>
            </select>   
          </div>
        </div>
    </form>
</div>

<div class="container" *ngIf="idParam || selectedId">
    <table class="table separacion personas">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Acciones</th>
            
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{producto.id}}</th>
                <td >{{producto.nombre_producto}}</td>
                <td >{{producto.descripcion}}</td>
                <td >${{producto.precio}}</td>
                <td>{{producto.user_id}}</td>
                <td><button class="btn btn-success btn" (click)="onSelectComentarios(producto)"> Comentarios </button> </td>  
            </tr>
        </tbody>
    </table>
</div>
